.enter-code {
	@apply font-mont absolute flex flex-col w-full bg-white rounded;
	max-width: 400px;

	&__title {
		@apply text-hp-dark py-4 text-2xl font-bold text-center bg-gray-200 rounded-t;
	}

	&__input-wrapper {
		@apply relative flex flex-col items-center justify-center py-8;

		&--input {
			@apply border-hp-dark text-hp-dark relative flex p-2 text-xl font-bold text-center uppercase border-2 rounded;
		}

		&--error {
			@apply relative flex text-sm font-bold text-left text-red-500 transition-all duration-500 ease-in-out opacity-0;
			transform: translateY(10px);

			&.active {
				@apply opacity-100;
				transform: translateY(0);
			}
		}

		&--buttons {
			@apply relative flex flex-row items-center justify-center w-full gap-8 px-8 mt-6;
		}
	}
}
