.home-page-button {
    @apply font-mont text-white px-8 py-4 bg-hp-gold flex;
    @apply w-full;
    max-width: 500px;
    max-height: 250px;
    text-align: center;
    justify-content: center;
    font-size: 34px;
    transition-duration: 0.4s;
    border-radius: 16px;
    flex: 1;
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.home-page-button:hover {
    @apply bg-hp-light;
}