.roomcode {
	@apply font-mont absolute flex flex-col items-center justify-start w-auto h-auto gap-12 px-4;

	@media (max-width: 1023px) {
		@apply flex-col;
	}

	&__box {
		@apply relative flex flex-col items-center justify-center w-full h-auto bg-white border rounded shadow-lg;
		max-width: 650px;

		&--titlebox {
			@apply relative w-full px-2 py-4 bg-gray-200 rounded-t;

			p {
				@apply text-hp-dark relative w-full text-2xl font-bold text-center;
			}
		}

		&--codebox {
			.code {
				@apply ml-10 font-bold uppercase;
				letter-spacing: 0.5em;
				font-size: 5em;
			}
		}

		&--qrcodebox {
			@apply flex items-center justify-center;

			img {
				max-height: 300px;
			}
		}
	}
}
