.roomcode{
    @apply relative flex flex-row w-full h-full gap-12 py-16;

		@media (max-width: 1023px) {
			@apply flex-col;
		}

    &__box1{
        @apply bg-white rounded min-w-max w-2/3 border shadow-lg max-w-3xl h-1/2;
    }
    &__box2{
        @apply bg-white rounded min-w-max w-2/3  border shadow-lg max-w-3xl;
    }
    &__titlebox{
        @apply rounded-t  py-4 px-2   border-b bg-gray-200;

        p{
            @apply text-hp-dark relative w-full text-2xl font-bold text-center;
        }

    }

    &__codebox{

        p{
            @apply font-bold ml-10;
            letter-spacing: .5em;
            font-size: 5em;
        }
    }

    &__qrcodebox{
        @apply flex items-center justify-center;
        img{
            max-height: 300px;
        }
    }
    
}
