.sidebar {
	@apply relative flex flex-col w-full h-full py-4 bg-gray-200 shadow-lg;
	max-width: 300px;

	&__header {
		@apply text-hp-dark flex flex-row items-center justify-between py-4 pl-6 text-2xl font-bold;

		&--toggle {
			@apply relative flex px-2;
		}
	}

	&__body {
		@apply relative flex flex-col h-full pl-0;

		.sidebarItem {
			@apply relative flex flex-col;

			&__title {
				@apply hover:text-hp-light flex flex-row items-center justify-between py-2 pr-2 font-bold transition-all duration-300 ease-in-out;

				&.open {
					@apply text-hp-light;
				}

				.wrapper {
					@apply flex flex-row relative items-center;
					width: min-content;

					.text {
						@apply flex flex-row bg-black bg-opacity-0 font-bold rounded-md px-3;
						width: min-content;

						&.locked {
							@apply cursor-pointer;
						}

						&.active {
							@apply bg-opacity-5;
						}
					}

					.chevron {
						@apply transition-all duration-300 ease-in-out ml-4;

						&.rotate {
							transform: rotate(180deg);
						}
					}
				}

				&--actions {
					@apply flex pl-4 flex-row items-center gap-1 relative right-0 justify-between py-1 z-50 opacity-0 pointer-events-none;

					&.hold-open {
						@apply opacity-100 pointer-events-auto;
					}

					button {
						@apply transition-all relative duration-200 ease-in-out px-1 text-base flex text-black;

						&.trash {
							&:hover {
								@apply text-red-500;
							}
						}

						&.edit {
							&:hover {
								@apply text-hp-dark;
							}

							&.green {
								@apply text-green-500 !important;
							}
						}
					}
				}

				&:hover {
					.sidebarItem__title--actions {
						@apply opacity-100 pointer-events-auto;
					}
				}
			}

			&__questions {
				@apply relative flex flex-col gap-1 pl-3 ml-1 mb-1;
				max-height: 250px;

				/* &:after {
					@apply bg-hp-dark absolute top-0 left-0 flex w-px h-full;
					content: "";
				} */

				&--single {
					@apply relative flex items-center justify-start transition-colors duration-100 ease-in-out;

					.trash {
						@apply absolute left-0 flex items-center justify-center px-1;
						transform: translateX(-100%);

						svg {
							@apply text-hp-dark opacity-0 pointer-events-none;

							&:hover {
								@apply text-red-500;
							}
						}
					}

					&:hover {
						@apply text-hp-light cursor-pointer;

						.trash {
							svg {
								@apply opacity-50 pointer-events-auto;
							}
						}
					}
				}
			}

			&__add {
				@apply flex items-center justify-center w-full;
				svg {
					@apply text-hp-dark hover:opacity-100 text-lg rounded-full opacity-50;
				}
			}
		}
	}
	&__footer {
		@apply relative flex flex-row items-center justify-between px-2 py-4 text-2xl font-bold;
	}
}
